* {
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
}


::placeholder {
	color: #666666;
    opacity: 1;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

body {
    min-width: 320px;
	font-family: $font;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
    margin: 0;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
    transition: all $trs;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    vertical-align: center;
}

input, textarea, select {
	border: 1px solid $text;
	background-color: $white;
    outline: none;
    appearance: none;
    box-shadow: none;
    font-family: $font;
}

textarea {
	resize: none;
}

button {
	border: 1px solid $accent;
	background-color: transparent;
    outline: none;
    padding: 0;
    border-radius: 0;
    appearance: none;
    transition: all $trs;
}

::selection {
	background-color: $accent;
	color: #fff;
}
