* {
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
}


::placeholder {
	color: #666666;
    opacity: 1;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

body {
    min-width: 320px;
	font-family: $font;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
    margin: 0;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
    transition: all $trs;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

input, textarea, select {
	border: 1px solid $text;
	background-color: $white;
    outline: none;
    appearance: none;
    box-shadow: none;
    font-family: $font;
}

textarea {
	resize: none;
}

button {
	border: 1px solid transparent;
	background-color: transparent;
    outline: none;
    padding: 0;
    border-radius: 0;
    appearance: none;
    transition: all $trs;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

::selection {
	background-color: $accent;
	color: #fff;
}

label {
    margin: 0;
    display: block;
}

iframe {
    max-width: 100%;
}

// Contacts
a[href^="tel"],
a[href^="mailto"] {
	white-space: nowrap;
}

a[href^="tel"] {
	pointer-events: none;

	@include max-screen($lg) {
		pointer-events: all;
	}
}
